<!-- header -->
<app-header></app-header>

<!-- main -->
<div class="container mt-5" style="max-width: 600px">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Recuperar contraseña</h3>
        <div class="formGroup">
          <input type="email" class="form-control form-control-sm" placeholder="Correo electrónico" #passwordResetEmail
            required>
        </div>
        <div class="formGroup mt-2">
          <input type="submit" class="btn btn-primary btn-sm btn-block" value="Resetear contraseña"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<app-footer></app-footer>