<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-3 text-center">Recomendaciones</h3>
    </div>
    <!-- <div class="col-6 text-right">
      <a class="btn btn-secondary mb-3 mr-1" href="#flechitas" role="button" data-slide="prev">
        <fa-icon [icon]="icFi"></fa-icon>
      </a>
      <a class="btn btn-secondary mb-3 " href="#flechitas" role="button" data-slide="next">
        <fa-icon [icon]="icFd"></fa-icon>
      </a>
    </div> -->
    <div class="col-12">
      <div id="flechitas" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" (ngModel)="Datos">
          <div class="carousel-item" *ngFor="let salida of Datos; let first = first" [ngClass]="{'active': first}">
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="card">
                  <img class="img-fluid" alt="100%x280" [src]="salida.imagen">
                  <div class="card-body">
                    <h4 class="card-title">{{salida.titulo}}</h4>
                    <p class="card-text">{{salida.descripcion}}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Añadido: {{salida.anadido}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>