<!-- header -->
<app-header></app-header>

<!-- main -->
<div class="container mb-4">
    <div class="row" (ngModel)="Datos">
        <div class="col-md-4 mx-auto my-5" *ngFor="let salida of Datos">
            <div class="card">
                <img class="card-img-top" [src]="salida.imagen" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{salida.titulo}}</h5>
                    <p class="card-text">{{salida.descripcion}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Añadido: {{salida.anadido}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<app-footer></app-footer>